name: Update Ongoing

on:
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:

jobs:
  send_request:
    runs-on: ubuntu-latest

    steps:
      - name: Send GET request
        run: curl -X GET "https://jellyfish-i1g3.onrender.com/update"
